{% extends "alayout.html.twig" %}
{% block content %}
<p class="input-field col s12 m6 l6" style="color: green">
{% if envoyer is defined %}{{ envoyer }}{% endif %}
</p>
<p class="input-field col s12 m6 l6" style="color: red">
{% if echec is defined %}{{ echec }}{% endif %}
</p>
<h4 class="input-field col s12 m6 l6">Recherche d'un livre par ISBN</h4>
<form action="./ajoutLivre" method="post" enctype="multipart/form-data" class="col s12">
  <div class="row">
    <div class="input-field col s12 m6 l6">
      <input placeholder="Recherche par ISBN" name="rechercheisbn" type="text" class="validate" required value="">
      <button type="submit" class="btn btn-secondary" name="rechercher">Rechercher</button>
    </div>
    <div class="input-field col s12 m6 l6"></div>
  </div>
</form>
<h4 class="input-field col s12 m6 l6">Formulaire d'ajout d'un livre</h4>
<form action="./ajoutLivre" method="post" enctype="multipart/form-data" class="col s12">
  <div class="row">
    <div class="input-field col s12 m6 l6">
      <input placeholder="ISBN" id="isbn" name="isbn" type="text" class="validate" required value="{% if ISBN is defined %}{{ ISBN }}{% endif %}">
      <label for="isbn">ISBN</label>
    </div>
    <div class="input-field col s12 m6 l6">
      <input placeholder="Langue" id="langue" name="langue" type="text" class="validate" required value="{% if langue is defined %}{{ langue }}{% endif %}">
      <label for="langue">Langue</label>
    </div>
  </div>
<div class="row">
  <div class="input-field col s12 m6 l6">
    <input placeholder="Titre" id="titre" name="title" type="text" class="validate" required value="{% if titre is defined %}{{ titre }}{% endif %}">
    <label for="title">Titre</label>
  </div>
  <div class="input-field col s12 m6 l6">
    <input placeholder="Nombre de pages" id="pages" name="pages" type="number" class="validate" required value="{% if pages is defined %}{{ pages }}{% endif %}">
    <label for="pages">Nombre de pages</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 m6 l6">
    <input placeholder="Auteur(e)" id="auteur" name="auteur" type="text" class="validate" required value="{% if auteur is defined %}{{ auteur }}{% endif %}">
    <label for="auteur">Auteur(e)</label>
  </div>
  <div class="input-field col s12 m6 l6">
    <input placeholder="Nombre d'exemplaires" id="exemplaire" name="exemplaire" type="number" class="validate" required>
    <label for="auteur">Nombre d'exemplaires</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 m12 l12">
    <textarea placeholder="Description" id="description" name="description" class="materialize-textarea validate" required>{% if description is defined %}{{ description }}{% endif %}</textarea>
    <label for="description">Description</label>
  </div>
  <div class="input-field col s12 m6 l6">
    <input id="dateAjout" name="dateAjout" type="date" required value="">
    <input class="btn btn-secondary" type="button" onclick="ajoutDate();" value="Date d'aujourd'hui">
  </div>
</div>
<div class="row">
  <div class="input-field col s12 m6 l6">
    <input placeholder="Image" id="image" name="image" type="text" class="validate" required value="{% if image is defined %}{{ image }}{% endif %}">
    <label for="image">Image</label>
  </div>
  <div class="input-field col s12 m6 l6">
    {% if image is defined %}
    <img src="{{ image }}" alt="Image du livre" style=" height: 150px; width: 100px">
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="input-field col s12 m6 l8">
    <button class="btn blue" name="envoyer" type="submit">Créer la fiche du livre</button>
  </div>
</div>

<script>
  function ajoutDate() {
    varA = new Date(Date.now());
    varB = ''+varA.getMonth();              
    varB.length == 2 ? varB = varB : varB = '0'+ varB;
    varC = ''+varA.getDate();
    varC.length == 2 ? varC = varC : varC = '0'+ varC;
    varA = varA.getFullYear() + '-' + varB + '-' + varC;
    document.getElementById('dateAjout').value = varA;
  }
</script>
</form>
{% endblock %}