{% extends "alayout.html.twig" %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<p>Il y a: {{ emprunts|length }} emprunts dans la base.</p>
			</div>
		</div>{# ROW #}
			<div class="row">
				<div class="col l12">
					<table id="myTable" class="striped">
						<thead>
							<tr>
								<th>Utilisateur</th>
								<th>Date de début</th>
								<th>Date de fin</th>
								<th>Statut</th>
								<th>Validé</th>
							</tr>
						</thead>
						<tbody>
							{% for emprunt in emprunts %}
								<tr>
									<td>{{ emprunt.utilisateur.pseudo }}</td>
									<td>{{ emprunt.dateDebut|date('d/m/Y') }}</td>
									<td>{{ emprunt.dateFin|date('d/m/Y') }}</td>
									<td>{{ emprunt.statut }}</td>
									<td>{{ emprunt.valider }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{# PLUGIN DATATABLE POUR LA PAGINATION #}
					<script>
						$(document).ready(function() {
						$('#myTable').DataTable( {
						"language": {
						"url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/French.json"
						},
						} );
						} );
					</script>
				</div>{# COL #}
			</div>{# ROW #}
		</div>{# CONTAINER #}
	{% endblock %}