{% extends "layout.html.twig" %}
{% block content %}
<p>
{% if envoyer is defined %}{{ envoyer }}{% endif %}
{% if echec is defined %}{{ echec }}{% endif %}
</p>
<form action="./test" method="post" enctype="multipart/form-data" class="col s12">
  <div class="row">
        <div class="input-field col s12 m6 l6">
            <input placeholder="Recherche par ISBN" name="rechercheisbn" type="text" class="validate" required value="">
            <button type="submit" class="btn btn-secondary" name="rechercher">Rechercher</button>
        </div>
    </div>
</form>
<form action="./test" method="post" name="frm" id="frm" enctype="multipart/form-data" class="col s12">
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <input placeholder="ISBN" id="isbn" name="isbn" type="text" class="validate" required value="{% if ISBN is defined %}{{ ISBN }}{% endif %}">
              <label for="isbn">ISBN *</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <input placeholder="Langue" id="langue" name="langue" type="text" class="validate" required value="{% if langue is defined %}{{ langue }}{% endif %}">
              <label for="langue">Langue *</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <input placeholder="Titre" id="title" name="title" type="text" class="validate" required value="{% if titre is defined %}{{ titre }}{% endif %}">
              <label for="title">Titre *</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <input placeholder="Nombre de pages" id="pages" name="pages" type="text" class="validate" required value="{% if pages is defined %}{{ pages }}{% endif %}">
              <label for="pages">Nombre de pages *</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <input placeholder="Auteur(e)" id="auteur" name="auteur" type="text" class="validate" required value="{% if auteur is defined %}{{ auteur }}{% endif %}">
              <label for="auteur">Auteur(e) *</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <input placeholder="Nombre d'exemplaires" id="exemplaire" name="exemplaire" type="text" class="validate" required>
              <label for="auteur">Nombre d'exemplaires *</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <textarea placeholder="Description" id="description" name="description" class="materialize-textarea validate" required>{% if description is defined %}{{ description }}{% endif %}</textarea>
              <label for="description">Description *</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <input id="dateAjout" name="dateAjout" type="date" required value="">
              <label for="dateAjout">Date ajout *</label><br>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l8">
              <button class="btn btn-block blue btnFiche" id="envoyer" name="envoyer" type="submit">Créer la fiche livre<i class="material-icons right">send</i></button>
            </div>
          </div>
      </form>
{% endblock %}