{% extends "layout.html.twig" %}

{% block content %}
<div class="main">

</div>
<div class="global">
<section class="popularBox">
<div class="container">
    <div class="row">
        <article class="col-lg-12 col-md-12 col-sm-12 banner-box">
            <h3>{{ livre.title }}</h3>
            <div class="row">
                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad maxheight1"><div class="box_inner">
                        <div class="thumbnail">
                            <figure><img clas"img-fluid" src="{{ livre.image }}" alt=""></figure>
                            <div class="caption">
                                <a href="#
">by {{ livre.auteur }}</a>
<p class="title"> </p>
                                <p class="title">

                                </p>
                            </div>
                        </div>
                    </div></div>
                </article><article class="col-lg-1"></article><article class='description col-lg-8'><p >{{ livre.description }}</p></article></article>
                <article> 
    </div>
</div>
{% if loggin  == '' %}
<div class="container" id='containerEmprunt'>
    Si vous ne l'êtes pas encore, devenez membre afin de pouvoir emprunter ce livre et bien d'autres! 
</div>
{% else %}
<div class="container" id='containerEmprunt'>
    <button onclick="affichEmp();">Faire une demande d'emprunt</button>
</div>

<script>

    function affichEmp(){
        varA = new Date(Date.now());
              varB = ''+varA.getMonth();              
              varB.length == 2 ? varB = varB : varB = '0'+ varB;
              varC = ''+varA.getDate();
              varC.length == 2 ? varC = varC : varC = '0'+ varC;
              varA = varA.getFullYear() + '-' + varB + '-' + varC;
        document.getElementById('containerEmprunt').innerHTML = '<form action="./demandemp" onsubmit="maDate()">'
        +'<input type="hidden" name="idLivre" value="{{livre.id}}" required>'
        +'<input type="hidden" id=dFin name="dFin" required>'
        +'A partir du: <input type="date" id="dateDebut" name="dateDebut" value="'+varA+'" required>'
        +'<input type="submit" value="Demande d\'emprunt">'
    +'</form>'
    }

    function maDate(){
        dateDebut = document.getElementById('dateDebut').value;
        dateDebut = dateDebut.split('-');
        //console.log(dateDebut);
        for(i in dateDebut){
            dateDebut[i] = parseInt(dateDebut[i]);
        }
        if (dateDebut[1]%2 == 0) {
            dateDebut[1] == 2 ? calculDay = 28 : calculDay = 30;
        }else{
            calculDay = 31;
        }
        if ((dateDebut[2]+14)<=calculDay) {
            day = dateDebut[2]+14;
            month = dateDebut[1];
            years = dateDebut[0];
        }else{
            day = 14-(calculDay-dateDebut[2]);
            if(dateDebut[1] == 12){
                month = +1;
                years = dateDebut[0]+1;
            }else{
                month = dateDebut[1] + 1 ;
                years = dateDebut[0];
            }  
        }
        if (dateDebut[1] == '02'&&dateDebut[2] >= 15&&(dateDebut[0]%4 == 0&&dateDebut[0]%100 !== 0)|| (dateDebut[0]%400 == 0)) {
                if (day==1){day = 29;month--}else{ day--;}
        }
        day = ''+day;
        month = ''+month;
        day.length == 2 ? day = day: day = '0'+day;
        console.log(day.length);
        month.length == 2 ? month = month: month = '0'+month;
        //console.log( day+'/'+month+'/'+years );
        document.getElementById('dFin').value = years + '-'+month + '-'+day;
    }
</script>

{% endif %}

<div class="container">
    <div class="row">
    <h3>Derniers avis postés sur {{livre.title}}</h3>
        {% for comment in lastComs %}
        <article class="col-lg-3 col-md-6 col-sm-6">
            <div class="thumb-pad1 maxheight">
                <div class="box_inner">
                    <div class="thumbnail">
                        <h2> {{comment.utilisateur.pseudo}} </h2>
                        <div class="caption">
                            <p>{{comment.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}

        
    </div>
    <a href="./touslescommentaires?id={{livre.id}}"> voir tous les avis concernants {{livre.title}}</a>
</div>
</section>
</section>
</div>
{% endblock %}
