{% extends "layout.html.twig" %}
{% block content %}
	<div id="erreur"></div>
	<div id='test'>
		<form action="./inscription" method="post" onsubmit="return verifMdp();"> 
			<table class='table'>
				<tr>
					<td>login</td>
					<td><input type="text" value="{{login}}" name="log2" id="log2"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="Email" id="mail" name="mailMar"></td>
				</tr>
				<tr>
					<td>Mot de passe :</td>
					<td><input type="password" value="{{mdp}}" id="mdp2" name="mdp2"> <br></td>
				</tr>
				<tr>
					<td>Confirmation mot de passe :</td>
					<td><input type="password" id="mdp2redoo"><br></td>
				</tr>
				<tr>
					<td>Question secrète :</td>
					<td><input type="text" id="question" name="question"><br></td>
				</tr>
				<tr>
					<td>Réponse secrète:</td>
					<td><input type="text" id="reponse" name="reponse"><br></td>
				</tr>
				<tr><td colspan="2"><input type="submit"></td></tr>
			</table>
			<br>
			
		</form>
	</div>
	<script>
	login = '{{login}}';
	mdp = '{{mdp}}';
	if ('{{erreur}}' == 'name') {
		errorUser('Votre login\' a déjà été attribué! ');
	}
	if ('{{erreur}}' == 'mdplog') {
		errorUser('Vous avez réussi à ne rien mettre comme mot de passe ou login\'. Vous êtes fortiche, vous!');
	}
	if ('{{erreur}}' == 'mail') {
		errorUser('Votre mail a déjà été attribué ou n\' est pas valide! ');
	}


	function verifMdp(){
		if (document.getElementById('mail').value.length == 0) {
			$('#mail').css('borderColor', 'red');
			return false;
		}
		if (document.getElementById('log2').value.length == 0) {
			$('#log2').css('borderColor', 'red');
			return false;
		}
		if (document.getElementById('mdp2redoo').value == document.getElementById('mdp2').value && document.getElementById('mdp2').value.length >= 8 ) {
			return true;
		}else if (document.getElementById('mdp2').value.length <= 8) {
			errorUser('Mot de passe trop court');
			$('#mdp2').css('borderColor', 'red');
			return false;
		}else{
			document.getElementById('mdp2redoo').value = '';
			$('#mdp2redoo').css('borderColor', 'red');
			return false;
		}
	}
	function errorUser($msg){
		document.getElementById('erreur').innerHTML = $msg;
	}

	
	</script>
{% endblock %}