{% extends "layout.html.twig" %}
{% block content %}
	<div class="global indent">
		<!--content-->
		<section class="formBox">
			<div class="container">
				<div class="row">
					<article class="col-lg-12 col-md-12 col-sm-12">
						<h3>Inscrivez-vous</h3>
						<div id='monErreur'></div>
						<form action="./inscription" method="post" onsubmit="return verifMdp();">
							<div class="success-message">Envoyé avec succès.</div>
							<div class="holder">
				<div class="row">
								<div class="form-div-1 clearfix">
									<label class="name">
										<input class="btn-default.btn1" type="text" value="{{login}}" name="log2" id="log2">
										<span class="empty-message">*Ce champ est requis.</span>
										<span class="_placeholder">Nom d'utilisateur:</span></label>
									</div>
								</div>
							</div>
				</div>
				<div class="row">
							<div class="form-div-2 clearfix">
								<label class="email">
									<input class="btn-default.btn1" type="password" value="{{mdp}}" id="mdp2" name="mdp2">
									<span class="empty-message">*Ce champ est requis.</span>
									<span class="_placeholder">Mot de passe:</span></label>
								</div>
				</div>
				<div class="row">	
								<div class="form-div-2 clearfix">
									<label class="mdp">
										<input class="btn-default.btn1" type="password" value="{{mdp}}" id="mdp2" name="mdp2">
										<span class="empty-message">*Ce champ est requis.</span>
										<span class="_placeholder">Confirmez:</span></label>
									</div>
				</div>
				<div class="row">
									<div class="btns">
										<input class="btn-default btn1" type="submit" value='Inscription'>
										<p></p>
									</div>
								</form>
							</article>
						</div>
					</div>
				</section>
			</div>
			<script>
				login = '{{login}}';
				mdp = '{{mdp}}';
				if ('{{erreur}}' == 'name') {
					document.getElementById('erreur').innerHTML = 'Votre loggin\' a déjà été attribué! ';
				}
				if ('{{erreur}}' == 'mdplog') {
					document.getElementById('erreur').innerHTML = 'Vous avez réussi à ne rien mettre comme mot de passe ou loggin\'. Merci de signaler ce bug à un webmaster '
				}
				function verifMdp(){
					if (document.getElementById('log2').value.length == 0) {
						$('#log2').css('borderColor', 'red');
						return false;
					}
					if (document.getElementById('mdp2redoo').value == document.getElementById('mdp2').value) {
						return true;
					}else{
						document.getElementById('mdp2redoo').value = '';
						$('#mdp2redoo').css('borderColor', 'red');
						return false;
					}
				}
				/*if ('{{loggin}}' == 'inscription') {
					recupLog();
				}else{
					document.getElementById('test').innerHTML = 'connexion';
				}*/
				
			</script>
		{% endblock %}