{% extends "layout.html.twig" %}

{% block content %}

<div class="global indent">
	<div class="container row">
		<article class="col-lg-12 col-md-12 col-sm-12">
			<h3 class="h3MesEmprunts">Mes emprunts</h3>
		</article>

		{% for item in arrayEmprunt %}
		<div class="col-md-3">
		<table class="tableLogServeur table-responsive tableMesEmprunts" style="border: solid white; ">
			<tr>
				<th>Titre du livre emprunté</th>
				<td>{{item.livre.title}}</td>
			</tr>
			<tr>
				<th>date</th>
				<td>du {{item.dateDebut|date('d/m/Y')}} au {{item.dateFin|date('d/m/Y')}}</td>
			</tr>
			<tr>
				<th>validé</th>
				<td>{{item.valider}}</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>{{item.statut}}</td>
			</tr>
			
		</table><p>&nbsp;</p></div>
		<br>
	{% endfor %}
</div>
</div>
	
{% endblock %}