{% extends "layout.html.twig" %}

{% block content %}
	<p>
	Bienvenue sur votre profil, {{loggin}}! <br>
	<br>
	Vous êtes actuellement un {{myStatut}}. <br> 
	</p>

	<p id="myComments">
	{% if lastComId is null %}
		N'hésitez pas à donner votre avis sur les livres que vous avez pu lire! <br>
	{% else %}
		<table class="table">
			<tr>
				<td>{{lastComDate}}</td>
			</tr>
			<tr><td>{{loggin}}</td></tr>
			<tr>
				<td spanrow='2'>{{lastComDescription}}</td>
			</tr>
		</table>
		<a href="./mesCommentaires">cliquez ici pour voir l'intégralité de vos commentaires.</a>
	{% endif %}

		<br><br>
	</p>
	<p id="myEmprunt">
		{% if lastEmprunt.id is null %}
			Commencez dès maintenant à emprunter des livres en vous rendant dans notre catalogue!<br>
		{% else %}
			<table class="table">
				<tr>
					<td>Titre du livre</td>
					<td>{{lastEmprunt.livre.title}}</td>
				</tr>
				<tr>
					<td>date début</td>
					<td>{{lastEmprunt.dateDebut|date('d/m/Y')}}</td>
				</tr>
				<tr>
					<td>date fin</td>
					<td> {{lastEmprunt.dateFin|date('d/m/Y')}}</td>
				</tr>
				<tr>
					<td>Statut</td>
					<td>{{lastEmprunt.statut}}</td>
				</tr>
				
			</table>
		
			<a href="./mesemprunts">cliquer ici pour voir l'intégralité de vos emprunts.</a>
		{% endif %}
	</p>

	

{% endblock %}